html, body, h1, h2, p, div, img, ul, li {
  padding: 0px;
  margin: 0px;
  border: 0px;
  list-style-type: none;
}

header {
  width: 100%;
  height: 30px;
  background: #222222;
  z-index: 200;
}

nav {
  float: left;
}

ul.header {
  float: left;
}

ul.header > li {
  padding: 8px 11px 5px 10px;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  color: #bbb;
  float: left;
}
ul.header > li:hover {
  color: white;
  cursor: pointer;
}

.more {
  display: none;
}

.more > li {
   padding: 7px 20px 7px 20px;
}
.more > li:hover {
  background: #EFEFEF;
}

.more >li:last-child {
  border-top: 1px solid  #EFEFEF;
  padding: 11px 20px 11px 20px;
}

li:hover .more {
  position: absolute;
  margin-top: 22px;
  display: block;
  float: left;
  color: black;
  border: 1px solid #B0B0B0;
  border-top: 0px;
  top: 7px;
  background: white;
}

#white {
  color: white;
}

.main {
  width: 428px;
  margin: auto;
  margin-top: 130px;
}

img.google-photo{
  width: 428px;
  height: auto;
  padding-bottom: 10px;
}

.input{
  background: url(data:image/gif;base64,R0lGODlhFQAVAMIEAAMGAkFDQHN1csnLx////////////////yH5BAEKAAQALAAAAAAVABUAAANJSLrc/kQAICCUk1qX827d9DEhMC7lqaQqe7pQYBIsEDzSEHXVoDm+yu6XiwF0Dd8N4qMgBxgkUxYKSDfQieD6mqlQ3i8tLP4kAAA7) no-repeat right center;
  margin-left: -36px;
  min-width: 500px;
  min-height: 25px;
  padding: 0px;
  border: 1px solid rgba(143, 143, 143, .5);
  font-family: arial;
  font-size: 16px;
  padding: 3px;
  margin-bottom: 15px;
}

.input:focus{
  outline: none;
  border: 1px solid #5174FF;
}

.gbutton {
  position: relative;
  left: 90px;
  font-family: Arial;
  font-weight: bold;
  font-size: 11px;
  border : 1px solid rgba(143, 143, 143, .5);
  border-radius:2px;
  background: #EFEFEF;
  padding: 8px;
  margin: 0px 5px 0px 5px;
}

.gbutton:hover {
  cursor: pointer;
  box-shadow: 0px 2px 10px #EBEBEB ;
}

p {
  font-family: arial;
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
}

p > a {
  text-decoration:none;
  color: blue;
}

.signbutton {
  display:block;
  float: right;
  font-family: Arial;
  font-weight: bold;
  font-size: 11px;
  border : 1px solid rgba(143, 143, 143, .5);
  border-radius:2px;
  background: #B74D37;
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 20px;
}

.signbutton:hover {
  cursor: pointer;
  box-shadow: 0px 2px 10px #EBEBEB ;
}


footer > nav {
  position:fixed;
  left:0px;
  bottom:0px;
  height:35px;
  width: 100%;
  background: white;
  border-top: 1px solid #EAEAEA;
}

footer > nav > ul {
  display: block;
  float: right;
}

footer > nav > ul > li {
  display: block;
  float: left;
  padding: 10px 8px 10px 8px;
  color: #666;
  font-family: arial;
  font-size: 12px;
  margin-right:2px;
  cursor: pointer;
}
